# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Outputs
outputs/indexes/*
outputs/predictions/*
outputs/metrics/*
outputs/error_analysis/*
!outputs/indexes/.gitkeep
!outputs/predictions/.gitkeep
!outputs/metrics/.gitkeep
!outputs/error_analysis/.gitkeep

# Notebook checkpoints
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/
